PORT=3000
AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
EVENT_SERVICE_URL=http://localhost:3003
BOOKING_SERVICE_URL=http://localhost:3004
PAYMENT_SERVICE_URL=http://localhost:3005
NOTIFICATION_SERVICE_URL=http://localhost:3006
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
