DATABASE_URL=postgresql://uevent:ueventpassword@localhost:5436/payment_db
PORT=3005
KAFKA_BROKERS=localhost:9092
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
